.app-bar {
  width: 100%;

  background: var(--white);
  border-bottom: 1px solid var(--gray-100);

  box-sizing: border-box;
}

/* ---------- Main ---------- */

.app-bar-main {
  display:flex;
  justify-content:space-between;
  align-items:center;

  height:60px;
  padding:8px 16px 4px;
}

.app-bar-logo {
  display: inline-flex;
  align-items: center;

  margin-left: -11px;
}

.app-bar-logo img {
  display: block;
  height: 48px;
  width: auto;
}

.app-bar-notification-button,
.app-bar-icon-button,
.app-bar-clear-button {
  padding: 0;
  border: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;

  cursor: pointer;
}

.app-bar-notification-button {
  width: 32px;
  height: 32px;

  flex-shrink: 0;
}

.app-bar-notification-icon {
  width: 24px;
  height: 24px;

  display: block;
}