.app-bar {
  width: 100%;

  box-sizing: border-box;

  background: var(--white);
}

.app-bar-main,
.app-bar-detail {
  border-bottom: 1px solid var(--gray-100);
}

/* ---------- 공통 버튼 ---------- */

.app-bar-notification-button,
.app-bar-icon-button,
.app-bar-clear-button {

  padding: 0;

  border: none;

  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.app-bar-icon-button {

  width: 24px;
  height: 24px;

  flex-shrink: 0;
}

/* ---------- Main ---------- */

.app-bar-main {

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;

  padding: 8px 16px 4px;
}

.app-bar-logo {

  display: inline-flex;
  align-items: center;

  margin-left: -11px;
      cursor: pointer;
}

.app-bar-logo img {

  display: block;

  height: 48px;
  width: auto;
}

.app-bar-notification-button {

  width: 32px;
  height: 32px;

  flex-shrink: 0;
}

.app-bar-notification-icon {

  width: 24px;
  height: 24px;

  display: block;
}

/* ---------- Detail ---------- */

.app-bar-detail {

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 54px;

  padding: 0 16px;

  background: var(--white);

  border-bottom: 1px solid var(--gray-50);
}

.app-bar-detail-title {

  flex: 1;

  margin: 0;

  text-align: center;

  color: var(--gray-700);
}

.app-bar-detail-placeholder {

  width: 24px;
  height: 24px;

  flex-shrink: 0;
}

/* ---------- Search ---------- */

.app-bar-search{

    height:78px;

    padding:20px 16px;

    display:flex;
    align-items:center;

    gap:12px;

    background:var(--white);
}

.app-bar-icon-button{

    width:24px;
    height:24px;

    padding:0;

    flex-shrink:0;
}

.app-bar-icon-button img{

    width:24px;
    height:24px;

    display:block;
}

.app-bar-search-box{

    flex:1;

    height:38px;

    display:flex;
    align-items:center;

    gap:4px;

    padding:9px 12px;

    background:var(--gray-50);

    border-radius:20px;
}

.app-bar-search-icon{

    width:20px;
    height:20px;

    flex-shrink:0;
}

.app-bar-search-box input{

    flex:1;

    border:none;
    outline:none;

    background:transparent;

    color:var(--gray-700);
}

.app-bar-search-box input::placeholder{

    color:var(--gray-300);
}

.app-bar-clear-button{

    width:24px;
    height:24px;

    padding:0;

    flex-shrink:0;
}

.app-bar-clear-button img{

    width:24px;
    height:24px;

    display:block;
}
