.service-preview {
    display: flex;
    flex-direction: column;
}

.service-preview-item {

    display: flex;
    align-items: flex-start;

    gap: 8px;

    padding: 4px 0px;

    border-bottom: 1px solid var(--gray-50);
}

.service-preview-image {

    width: 80px;
    height: 80px;

    flex-shrink: 0;

    overflow: hidden;

    border-radius: 8px;

    background: var(--gray-100);
}

.service-preview-image img {

    width: 100%;
    height: 100%;

    display: block;
    object-fit: cover;
}

/* ---------- 오른쪽 ---------- */

.service-preview-content {

  flex: 1;

  min-width: 0;

  display: flex;

  flex-direction: column;

  min-height: 80px;

}

.service-preview-title {

  margin: 0;

  color: var(--gray-700);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.service-preview-description{

    margin:0;

    color:var(--gray-700);

    height:40px;

    line-height:20px;

    overflow:hidden;

    display:-webkit-box;

    -webkit-line-clamp:2;

    -webkit-box-orient:vertical;

}

.service-preview-date {

  color: var(--gray-200);

  margin-top: auto;
}
